# Arquivos Python padrão a serem ignorados
*.pyc
__pycache__/
*.pyo
*.pyd

# Diretório do ambiente virtual
.venv/

# diretorio vscode
.vscode/

# Arquivos de configuração do sistema config.py
api/config.py