{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      Blood Donation{% block title %}
      {% endblock %}
    </title>

    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Custom Icon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    


  </head>
  <body>
      {% include 'navbar.html' %}
      <div
      class="bg-image"
      style="
      background-image: url('{% static 'bg-image.jpg' %}');
      width: 100%;
      height: 100%;
      background-image: {% static 'bg-image.jpg' %};
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden; 
      "
    >
    {% block content %}
  
    {% endblock %}
      </div>

  </body>
</html>
