# Arquivos Python padrão a serem ignorados
*.pyc
__pycache__/
*.pyo
*.pyd

# Diretório do ambiente virtual
.venv/

# diretorio vscode
.vscode/

# Arquivos de configuração do sistema config.py







# Ignore Mac DS_Store files
.DS_Store

# Laravel - from: https://github.com/github/gitignore/blob/master/Laravel.gitignore

vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
server/BloodCenter/__pycache__/admin.cpython-39.pyc
server/BloodCenter/__pycache__/apps.cpython-39.pyc
server/BloodCenter/__pycache__/models.cpython-39.pyc
server/BloodCenter/__pycache__/serializers.cpython-39.pyc
server/BloodCenter/__pycache__/views.cpython-39.pyc
server/BloodCenter/migrations/__init__.py
server/BloodCenter/migrations/0001_initial.py
server/BloodCenter/migrations/0002_initial.py
server/BloodCenter/migrations/__pycache__/__init__.cpython-39.pyc
server/BloodCenter/migrations/__pycache__/0001_initial.cpython-39.pyc
server/BloodCenter/migrations/__pycache__/0002_initial.cpython-39.pyc
server/BloodDonation/__pycache__/__init__.cpython-39.pyc
server/BloodDonation/__pycache__/admin.cpython-39.pyc
server/BloodDonation/__pycache__/apps.cpython-39.pyc
server/BloodDonation/__pycache__/models.cpython-39.pyc
server/BloodDonation/__pycache__/serializers.cpython-39.pyc
server/BloodDonation/__pycache__/views.cpython-39.pyc
server/BloodDonation/migrations/__init__.py
server/BloodDonation/migrations/0001_initial.py
server/BloodDonation/migrations/0002_initial.py
server/BloodDonation/migrations/__pycache__/__init__.cpython-39.pyc
server/BloodDonation/migrations/__pycache__/0001_initial.cpython-39.pyc
server/BloodDonation/migrations/__pycache__/0002_initial.cpython-39.pyc
server/BloodType/__pycache__/__init__.cpython-39.pyc
server/BloodType/__pycache__/admin.cpython-39.pyc
server/BloodType/__pycache__/apps.cpython-39.pyc
server/BloodType/__pycache__/models.cpython-39.pyc
server/BloodType/__pycache__/serializers.cpython-39.pyc
server/BloodType/__pycache__/views.cpython-39.pyc
server/BloodType/migrations/__init__.py
server/BloodType/migrations/0001_initial.py
server/BloodType/migrations/__pycache__/__init__.cpython-39.pyc
server/BloodType/migrations/__pycache__/0001_initial.cpython-39.pyc
server/City/__pycache__/__init__.cpython-39.pyc
server/City/__pycache__/admin.cpython-39.pyc
server/City/__pycache__/apps.cpython-39.pyc
server/City/__pycache__/models.cpython-39.pyc
server/City/__pycache__/serializers.cpython-39.pyc
server/City/__pycache__/views.cpython-39.pyc
server/City/migrations/__init__.py
server/City/migrations/0001_initial.py
server/City/migrations/__pycache__/__init__.cpython-39.pyc
server/City/migrations/__pycache__/0001_initial.cpython-39.pyc
server/Person/__pycache__/__init__.cpython-39.pyc
server/Person/__pycache__/admin.cpython-39.pyc
server/Person/__pycache__/apps.cpython-39.pyc
server/Person/__pycache__/models.cpython-39.pyc
server/Person/__pycache__/serializers.cpython-39.pyc
server/Person/__pycache__/views.cpython-39.pyc
server/Person/migrations/__init__.py
server/Person/migrations/0001_initial.py
server/Person/migrations/__pycache__/__init__.cpython-39.pyc
server/Person/migrations/__pycache__/0001_initial.cpython-39.pyc
server/server/__pycache__/__init__.cpython-39.pyc
server/server/__pycache__/settings.cpython-39.pyc
server/server/__pycache__/urls.cpython-39.pyc
server/server/__pycache__/wsgi.cpython-39.pyc
server/State/__pycache__/__init__.cpython-39.pyc
server/State/__pycache__/admin.cpython-39.pyc
server/State/__pycache__/apps.cpython-39.pyc
server/State/__pycache__/models.cpython-39.pyc
server/State/__pycache__/serializers.cpython-39.pyc
server/State/__pycache__/views.cpython-39.pyc
server/State/migrations/__init__.py
server/State/migrations/0001_initial.py
server/State/migrations/__pycache__/__init__.cpython-39.pyc
server/State/migrations/__pycache__/0001_initial.cpython-39.pyc
server/BloodCenter/__pycache__/__init__.cpython-39.pyc
server/BloodCenter/__pycache__/forms.cpython-39.pyc
server/BloodCenter/__pycache__/urls.cpython-39.pyc
server/BloodDonation/__pycache__/forms.cpython-39.pyc
server/BloodDonation/__pycache__/urls.cpython-39.pyc
server/BloodType/__pycache__/forms.cpython-39.pyc
server/BloodType/__pycache__/urls.cpython-39.pyc
server/City/__pycache__/forms.cpython-39.pyc
server/City/__pycache__/urls.cpython-39.pyc
server/Person/__pycache__/forms.cpython-39.pyc
server/Person/__pycache__/urls.cpython-39.pyc
server/server/__pycache__/homeview.cpython-39.pyc
server/State/__pycache__/forms.cpython-39.pyc
server/State/__pycache__/urls.cpython-39.pyc
web/static/favicon - Copia.ico
